.marsWeatherCard__parent{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );

}
.marsWeatherCard__card{
    
    background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
    color: white;
    width: 250px;
padding: 2em;
    border-radius: 25px;
    margin-top: 1em;
}